@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.5);
  }
}

.about {
  background-color: #0a2850;
  margin-top: -36px;
  padding: 0;
  position: relative;
  z-index: -2;
}

.about__title {
  max-width: 251px;
  position: relative;
  left: 80px;
  top: 100px;
  font-family: "Inter";

  font-style: normal;

  font-weight: 500;

  font-size: 44px;

  line-height: 52px;
  color: #fff;
}

.about__content {
  max-width: 660px;
  position: relative;
  bottom: 119px;
  right: -740px;
  margin-top: 119px;
}

.about__paragraph {
  margin-bottom: 173px;
  font-family: "Noto Serif";

  font-style: normal;

  font-weight: normal;

  font-size: 20px;

  line-height: 30px;
  color: #fff;
}

.about__paragraph-list {
  gap: 20px;
  list-style-type: none;
  margin-bottom: 20px;
}

.about__circle {
  width: 426px;
  height: 426px;
  border-radius: 50%;
  background-color: #2f80ed;
  position: absolute;
  top: -129px;
  left: -152px;
  z-index: -1;
}

.about__circle_animation_blurred {
  width: 426px;
  height: 426px;
  border-radius: 50%;
  background-color: #2f80ed;
  position: absolute;
  top: -129px;
  left: -152px;
  z-index: -1;
  animation: pulsate 1.3s ease-in-out infinite;
}

.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -175px;
  margin-bottom: 0;
}

.footer__content {
  padding: 60px 80px;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social-heading {
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

.footer__list {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.footer__list-item {
  color: #fff;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  left: 1230px;
  bottom: 50px;
}

.footer__social-link {
}

.footer__copyrigth {
  color: #fff;
  margin-bottom: 60px;
  margin-top: 108px;
  margin-left: 80px;
}
