.recipes {
  margin: 0;
  background-image: url("../images/background_recipes.svg");
  background-color: #0a2750;
  padding-top: 100px;
  padding-bottom: 215px;
  padding-left: 80px;
}
.recipes__title {
  margin: 0;
  max-width: 580px;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.recipes__subtitle {
  max-width: 438px;
  color: #fff;
  display: block;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 80px;
}
.recipes__span {
  display: block;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}
.recipes__video-caption {
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding-top: 24px;
}
